/* Aside element style */
aside {
    background-color: rgb(247, 232, 198);
    border-radius: 0.7rem;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
    width: 40rem;
    padding: 1rem;
    position: fixed;
    top: 15%;
    left: calc(50% - 21rem);
    display: none;
}


aside h2 {
    margin-top: 0.5rem;
}

aside label {
    display: block;
    margin-bottom: 0.5rem;
}

#playername {
    display: block;
    width: 15rem;
    margin: 0.5rem auto 1rem auto;
}

#errorMessage {
    color: rgb(230, 161, 0);
    display: none;
}

/* Main Section */
#mainSection ol {
    display: flex;
    width: 40rem;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
}

#mainSection ol li {
    background-color: rgb(252, 214, 124);
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    padding: 1rem;
    margin: 1rem;
    width: 50%;
}

.playerBoxStyle h2 {
    margin: 1rem;
    font-size: 1rem;
}

.playerBoxStyle h3 {
    margin: 0.5rem 0.5rem 0 0.5rem;
    font-size: 2rem;
}

.playerBoxStyle p {
    color: rgb(230, 161, 0);
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0.5rem 0.5rem 0.5rem;
}